
<form action="/session" method="post">
<div>
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
</div>

<div>
    <label for="password">Password</label>
    <input type="password" id="password" name="password" required>
</div>

<div>
    <label><input type="checkbox" name="remember_me" value="true"> Remember Me</label>
</div>

<div>
    <button type="submit">Log In</button>
</div>
</form>
